div.meta {
	border-bottom: 1px dashed #46a546;
}
div.teaser p{
	text-align: justify;
}
div.teaser img {
	float: left;
	margin: 4px;
	padding: 1px;
	border: 1px solid;
	max-width: 27%;
	height: auto;
}
img.alignleft,img.alignright {
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}
div.entry img {
	max-width: 95%;
	height: auto;
}
.alignleft {
	float: left;
	margin-right: 10px;
}
.alignright {
	float: right;
	margin-left: 10px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
ol.commentlist {
	list-style: none;
	margin: 4px;
	padding: 0;
}
ol.commentlist li {
	border-bottom: 1px solid #55B02B;
}
ol.commentlist li div.reply {
	text-align: right;
}
body form input#s {
	margin: auto;
}
body form input#searchsubmit {
margin: 5px auto;
}
div#respond form input#submit {
display: block;
margin: 5px auto;
}
body form input#author,
body form input#email,
body form input#url {
	width: 98%;
	display: block;
	margin: auto;
}
div#respond form textarea#comment {
	width: 98%;
	display: block;
	margin: 4px auto;
}
ul {
	margin: 0px;
	padding-left: 0.5em;
	list-style-type: none;
	list-style-position: outside;
}