.toolbar-bgcolor {border-bottom: 3px solid #acacac;}
a, .menu-dropdown li.active .level1 { color: #686868; }

/* Menus Hover----------------------------------------------------------------------------------------------------*/

#menu-block .menu-dropdown li.active .level1,
#menu-block .menu-dropdown li.level1:hover .level1,
#menu-block .menu-dropdown li.remain .level1,
.sprocket-lists li.active .sprocket-lists-title .indicator,
.sprocket-mosaic .sprocket-mosaic-filter li.active, .sprocket-mosaic .sprocket-mosaic-order li.active, .sprocket-mosaic-loadmore, .sprocket-mosaic-hovercontent { 
background-color: #acacac;
background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(#8e8e8e), to(#acacac));
background-image: -webkit-radial-gradient(50% 50%, #acacac, #8e8e8e);
background-image: -moz-radial-gradient(50% 50%, #acacac, #8e8e8e);
background-image: -o-radial-gradient(50% 50%, #acacac, #8e8e8e);
background-image: -ms-radial-gradient(50% 50%, #acacac, #8e8e8e);
background-image: radial-gradient(50% 50%, #acacac, #8e8e8e);
 }
#menu-block .menu-dropdown li.active .level1:after,
#menu-block .menu-dropdown li.level1:hover .level1:after,
#menu-block .menu-dropdown li.remain .level1:after { background-image: url(../../images/style/menuhover/menu_dropdown_arrow_grey.png); }
#menu-block .menu-dropdown a.level2:hover,
#menu-block .menu-dropdown a.current.level2, 
#menu-block .menu-dropdown a.level3:hover,
#menu-block .menu-dropdown a.current.level3 { color:#686868; }

/* sprocket mosaic----------------------------------------------------------------------------------------------------*/ 
.sprocket-mosaic .sprocket-mosaic-filter li.active, .sprocket-mosaic .sprocket-mosaic-order li.active, .sprocket-mosaic-loadmore, .sprocket-mosaic-hovercontent {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    color: #fff;}
/* Features - Layout Slideshow - Colors */
.layout-slideshow .sprocket-features-title {background: rgba(104, 104, 104, 0.9);color: #fff;}

.sprocket-lists .sprocket-lists-pagination li.active, .sprocket-lists .sprocket-lists-pagination li.active:hover {background-color: #adacad;}