.toolbar-bgcolor {border-bottom: 3px solid #c01f27;}
a, .menu-dropdown li.active .level1 { color: #D33; }
.button-primary { background: #D33; }


/* Menus Hover----------------------------------------------------------------------------------------------------*/


#menu-block .menu-dropdown li.active .level1,
#menu-block .menu-dropdown li.level1:hover .level1,
#menu-block .menu-dropdown li.remain .level1 { border-top: 1px solid #e03f47; }


#menu-block .menu-dropdown li.active .level1,
#menu-block .menu-dropdown li.level1:hover .level1,
#menu-block .menu-dropdown li.remain .level1,
.sprocket-lists li.active .sprocket-lists-title .indicator,
.sprocket-mosaic .sprocket-mosaic-filter li.active, .sprocket-mosaic .sprocket-mosaic-order li.active, .sprocket-mosaic-loadmore, .sprocket-mosaic-hovercontent
 {     background-color: #cb2129;
    background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(#a41a21), to(#cb2129));
    background-image: -webkit-radial-gradient(50% 50%, #cb2129, #a41a21);
    background-image: -moz-radial-gradient(50% 50%, #cb2129, #a41a21);
    background-image: -o-radial-gradient(50% 50%, #cb2129, #a41a21);
    background-image: -ms-radial-gradient(50% 50%, #cb2129, #a41a21);
    background-image: radial-gradient(50% 50%, #cb2129, #a41a21);}

#menu-block .menu-dropdown li.active .level1:after,
#menu-block .menu-dropdown li.level1:hover .level1:after,
#menu-block .menu-dropdown li.remain .level1:after { background-image: url(../../images/style/menuhover/menu_dropdown_arrow_red.png); }


#menu-block .menu-dropdown a.level2:hover,
#menu-block .menu-dropdown a.current.level2, 
#menu-block .menu-dropdown a.level3:hover,
#menu-block .menu-dropdown a.current.level3 { color:#b51e24; }

/* Features - Layout Slideshow - Colors */
.layout-slideshow .sprocket-features-title {background: rgba(196, 47, 33, 0.9);color: #fff;}

.sprocket-lists .sprocket-lists-pagination li.active, .sprocket-lists .sprocket-lists-pagination li.active:hover {background-color: #c01f27;}


