.toolbar-bgcolor{
background-color: #272727;
background-image: -webkit-gradient(linear, left top, left bottom, from(#272727),to(#2b2a2b));
background-image: -webkit-linear-gradient(top, #272727, #2b2a2b);
background-image: -moz-linear-gradient(top, #272727, #2b2a2b);
background-image: -o-linear-gradient(top, #272727, #2b2a2b);
background-image: -ms-linear-gradient(top, #272727, #2b2a2b);
background-image: linear-gradient(top, #272727, #2b2a2b);

 
}




