/* registration
----------------------------------------------------------------------------------------------------*/
#system form.submission fieldset > div > label:first-child { width: 170px }
#system .submission li { list-style: none }
/* login module form
----------------------------------------------------------------------------------------------------*/
i.icon-ok { padding: 0 5px 0 0 }
#system .submission ul {
    margin: 0;
    padding: 0;
}
.control-group input[type="text"],
input[type="password"] {
    height: 14px;
    padding: 5px;
    width: 50%;
}
.control-group { margin-bottom: 10px }
.input-append,
.input-prepend {
    font-size: 0;
    margin-bottom: 5px;
    white-space: nowrap;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child { border-radius: 4px 0 0 4px }
.input-prepend .add-on,
.input-prepend .btn { margin-right: -1px }
.input-append .add-on,
.input-prepend .add-on {
    border-radius: 0 0 0 0;
    vertical-align: top;
}
.input-append .add-on,
.input-prepend .add-on {
    background-color: rgba(14, 14, 14, 0.1);
    border: 1px solid rgba(14, 14, 14, 0.2);
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    min-width: 16px;
    padding: 4px 10px;
    text-align: center;
    width: auto;
}
.input-append,
.input-prepend {
    font-size: 0;
    white-space: nowrap;
}
.input-prepend .forgeticon:first-child,
.input-prepend .btn:first-child { border-radius: 4px 0 0 4px }
.input-prepend .forgeticon { margin-right: -1px }
.input-prepend .forgeticon,
.input-prepend .forgeticon {
    border-radius: 0 0 0 0;
    vertical-align: top;
}
.input-append .forgeticon,
.input-prepend .forgeticon {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    min-width: 16px;
    padding: 4px 10px;
    text-align: center;
    width: auto;
}
.remember {
    display: inline;
    padding: 0 10px;
}
.button .button-default { margin: 10px 0 }
/* Sprocket Features 
------------------------------------------*/




.sprocket-features-img-container {
    max-height: 360px;
    max-width: 100%;
    width: 100%;
    
}


.sprocket-features-img-container img {
    height: auto;
    max-height: 360px;
       max-width: 100%;
    width: 100%;
}



#sidebar-a .layout-slideshow .sprocket-features-title,
#sidebar-b .layout-slideshow .sprocket-features-title {
    display: block;
    font-size: 100%;
}
#sidebar-a .layout-slideshow .sprocket-features-content,
#sidebar-b .layout-slideshow .sprocket-features-content { bottom: 6px }












/* Sprocket Tabs
----------------------------------------------------------------------------------------------------*/
/*tabs  layout top */
.sprocket-tabs { position: relative }
.layout-top .sprocket-tabs-nav { padding: 0 }
.sprocket-tabs-nav > li { margin-bottom: -1px !important }
.sprocket-tabs-nav {
    background-color: transparent;
    box-shadow: none;
}
.sprocket-tabs-nav {
    list-style: none outside none !important;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 4;
}
.sprocket-tabs-nav li {
    float: left;
    margin-right: 4px;
}
.sprocket-tabs-nav > li .sprocket-tabs-inner {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #DDDDDD #DDDDDD transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
}
.sprocket-tabs-nav .sprocket-tabs-inner {
    border: 1px solid #E0E0E0 !important;
    box-shadow: 0 1px 1px #FFFFFF inset !important;
}
.sprocket-tabs-nav .sprocket-tabs-inner { color: #6E6E6E !important }
.sprocket-tabs-nav > li { margin-bottom: -1px !important }
.sprocket-tabs-nav > li.active > .sprocket-tabs-inner {
    background-color: #FFFFFF;
    border-color: #E0E0E0 #E0E0E0 #FFFFFF !important;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #303030;
}
.sprocket-tabs-nav li .sprocket-tabs-inner {
    cursor: pointer;
    line-height: 1em;
    text-transform: uppercase;
}
.sprocket-tabs-nav { list-style: none outside none !important }
.sprocket-tabs-nav li .sprocket-tabs-inner { transition: background 0.1s ease-in 0s }
.sprocket-tabs-nav li .sprocket-tabs-inner {
    cursor: pointer;
    display: block;
    line-height: 1em;
    padding: 12px !important;
    text-transform: uppercase;
}
.sprocket-tabs-nav > li > .sprocket-tabs-inner {
    border-radius: 4px 4px 0 0;
    display: block;
}
.sprocket-tabs-panels {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding: 15px;
    position: relative;
    z-index: 1!important;
    border: 1px solid #E0E0E0;
}
/*tabs  layout left */
.layout-left .sprocket-tabs-nav {
    float: left;
    margin-right: -1px !important;
    margin-top: 0  !important;
    padding: 0 0 5px 5px !important;
}
.layout-left .sprocket-tabs-nav > li > .sprocket-tabs-inner {
    border-radius: 4px 0 0 4px;
    margin-bottom: 4px;
    margin-right: 0;
}
.layout-left .sprocket-tabs-nav li { margin-right: 0 }
.layout-left .sprocket-tabs-nav > li.active > .sprocket-tabs-inner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #E0E0E0 #FFFFFF #E0E0E0 #E0E0E0;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #303030;
}
.layout-left .sprocket-tabs-nav > li .sprocket-tabs-inner {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
}
/*tabs  layout right */
.layout-right .sprocket-tabs-nav {
    margin-left: 0;
    margin-top: 0;
    padding: 0 5px 5px 0 !important;
}
.layout-right  .sprocket-tabs-nav > li > .sprocket-tabs-inner {
    border-radius: 0 4px 4px 0;
    margin-bottom: 4px;
    margin-right: 0;
}
.layout-right  .sprocket-tabs-nav li { margin-left: 0 }
.layout-right .sprocket-tabs-nav > li.active > .sprocket-tabs-inner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #E0E0E0 #E0E0E0 #E0E0E0 #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #303030;
}
.layout-right  .sprocket-tabs-nav > li .sprocket-tabs-inner {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
}
/*tabs  layout bottom */
.layout-bottom .sprocket-tabs-nav > li > .sprocket-tabs-inner { border-radius: 0 0 4px 4px }
.layout-bottom .sprocket-tabs-nav > li.active > .sprocket-tabs-inner {
    background-color: #FFFFFF;
    border-color: #FFFFFF #E0E0E0 #E0E0E0 !important;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #303030;
}
.layout-bottom .sprocket-tabs-nav > li .sprocket-tabs-inner {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    box-shadow: none;
}
.layout-bottom .sprocket-tabs-nav { padding: 0 5px 5px 0 !important }
/* sprocket lists
----------------------------------------------------------------------------------------------------*/
.sprocket-lists li { border-top: 1px solid #ffffff }
.sprocket-lists { border: 1px solid #E0E0E0 }
.sprocket-lists:after { background-image: url(../images/main/module-shadow.png) }
.sprocket-lists li {
    border-bottom: 1px solid #E0E0E0;
    background-color: #f5f5f5;
}
.sprocket-lists li.active { background: #ffffff }
.sprocket-lists li.active .sprocket-lists-title {
    background-color: transparent;
    border-bottom-color: transparent;
}
.sprocket-lists li.active .sprocket-lists-title:hover .indicator { background: #6f899e }
.sprocket-lists li.active .sprocket-lists-title .indicator {
    background: #6f899e;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.sprocket-lists li.active .sprocket-lists-title .indicator:hover {
    background: #000;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.sprocket-lists li .sprocket-lists-title { background-color: #f5f5f5 }
.sprocket-lists li .sprocket-lists-title:hover .indicator {
    background: #f16d1a;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.sprocket-lists li .indicator {
    background: #E2E2E2;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.sprocket-lists .sprocket-lists-nav { background: #ffffff }
.sprocket-lists .sprocket-lists-pagination li {
    background-color: #E2E2E2;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.sprocket-lists .sprocket-lists-pagination li.active,
.sprocket-lists .sprocket-lists-pagination li.active:hover { background-color: #bfe220 }
.sprocket-lists .sprocket-lists-pagination li:hover { background-color: #494949 }
.sprocket-lists-nav { height: 20px }

/* sprocket headlines */


.sprocket-headlines-badge h3{line-height:20px;margin:0}
.sprocket-headlines-navigation .arrow{font-family:tahoma;line-height:17px}


.sprocket-headlines {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none!important;
}
.sprocket-headlines { margin: 0 !important }
.sprocket-headlines a.sprocket-headlines-text { color: #fff !important }
.sprocket-headlines .sprocket-headlines-item {
    font-size: 100% !important;
    line-height: 1.5em !important;
}
.sprocket-headlines .sprocket-headlines-navigation {
    padding: 0 5px !important;

}
.sprocket-headlines .sprocket-headlines-list {
    float: left;
    padding: 0 10px;
}
.sprocket-headlines .sprocket-headlines-navigation .arrow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5) !important;
    color: #FFFFFF !important;
}
.sprocket-headlines-badge span {
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
.sprocket-lists-title .indicator {
    height: 20px !important;
    margin-top: -15px !important;
    right: 10px !important;
    top: 50% !important;
    width: 20px !important;
}
.indicator span {
    left: 7px !important;
    padding-top: 0 !important;
    top: 1px !important;
}
.active .indicator span {
    display: inline-block !important;
    font-size: 0.6em !important;
    left: 10px !important;
    padding-top: 0 !important;
    top: 2px !important;
}
.sprocket-headlines-badge span { padding: 0 10px !important }
.sprocket-lists .sprocket-lists-pagination li.active,
.sprocket-lists .sprocket-lists-pagination li.active:hover { background-color: #00b7f0 }
/* Sprocket Mosaic
----------------------------------------------------------------------------------------------------*/
.sprocket-mosaic-head h4.sprocket-mosaic-title {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    line-height: 30px;
    margin: -6px -15px 0;
    padding: 14px 10px 10px;
}
.sprocket-mosaic-item .sprocket-mosaic-text {
    display: block !important;
    margin: 0 !important;
    padding: 10px 0;
}
h4.sprocket-mosaic-title a { color: #666 }
.sprocket-mosaic-item .sprocket-padding { padding: 15px 15px 0 !important }
.sprocket-mosaic-item { margin: 15px }
.sprocket-mosaic-filter li,
.sprocket-mosaic-order li {border: 0 none !important;}
.sprocket-mosaic .sprocket-mosaic-header {
    color: #666;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}
.sprocket-mosaic-item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none !important;
    border-radius: 0 0 0 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.sprocket-mosaic-item .sprocket-padding { padding: 15px !important }
.sprocket-mosaic-image-container {
    cursor: pointer;
    margin: -15px -15px 0;
    overflow: hidden;
    position: relative;
}
.sprocket-mosaic .sprocket-mosaic-filter li.active,
.sprocket-mosaic .sprocket-mosaic-order li.active,
.sprocket-mosaic-loadmore {
    background-color: #c01f27;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#CC2129),color-stop(45%,#c32027),to(#b21d24));
    background-image: -webkit-linear-gradient(#CC2129,#c32027 45%,#b21d24);
    background-image: -moz-linear-gradient(top,#CC2129,#c32027 45%,#b21d24);
    background-image: -o-linear-gradient(#CC2129,#c32027 45%,#b21d24);
    background-image: linear-gradient(#CC2129,#c32027 45%,#b21d24);
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
}
.sprocket-mosaic .sprocket-mosaic-filter li:hover,
.sprocket-mosaic .sprocket-mosaic-order li:hover {
    background-color: #282828 !important;
    background-image: -webkit-gradient(linear, 0 0,0 100%, from(#434343),to(#0d0d0d)) !important;
    background-image: -webkit-linear-gradient( #434343, #0d0d0d) !important;
    background-image: -moz-linear-gradient(#434343, #0d0d0d) !important;
    background-image: -o-linear-gradient(#434343, #0d0d0d) !important;
    background-image: -ms-linear-gradient(#434343, #0d0d0d) !important;
    background-image: linear-gradient(#434343, #0d0d0d) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset !important;
    color: #fff !important;
}
.sprocket-mosaic .sprocket-mosaic-filter ul li,
#main .sprocket-mosaic .sprocket-mosaic-filter ul li,
.sprocket-mosaic .sprocket-mosaic-filter li,
.sprocket-mosaic .sprocket-mosaic-filter li {
    -moz-user-select: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.2em;
    margin: 0;
    padding: 8px 12px;
}
#main .sprocket-mosaic .sprocket-mosaic-order ul li,
#main .sprocket-mosaic .sprocket-mosaic-order ul li,
.sprocket-mosaic .sprocket-mosaic-order li,
.sprocket-mosaic .sprocket-mosaic-order li {
    -moz-user-select: none;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.2em;
    margin: 0;
    padding: 8px 12px;
}
.sprocket-mosaic-hovercontent {
    background-color: #c01f27;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#CC2129),color-stop(45%,#c32027),to(#b21d24));
    background-image: -webkit-linear-gradient(#CC2129,#c32027 45%,#b21d24);
    background-image: -moz-linear-gradient(top,#CC2129,#c32027 45%,#b21d24);
    background-image: -o-linear-gradient(#CC2129,#c32027 45%,#b21d24);
    background-image: linear-gradient(#CC2129,#c32027 45%,#b21d24);
    background-repeat: no-repeat;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 4px 4px 4px 4px;
    bottom: auto;
    color: #FFFFFF;
    font-size: 100%;
    font-weight: normal;
    height: 32px !important;
    line-height: 2.4em !important;
    margin-left: -60px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    right: 50%;
    left: 50%;
    text-align: center;
    top: 50%;
    width: 120px !important;
}
.sprocket-mosaic-loadmore {
    border: 0 none !important;
    display: block !important;
    margin: 30px auto 10px !important;
    padding: 10px !important;
    width: 250px !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.sprocket-mosaic-loadmore span {
    font-size: 13px;
    line-height: 1.85em;
    text-align: center;
    text-transform: uppercase;
}
.sprocket-mosaic-loadmore .loadmore-info {
    font-size: 10px !important;
    font-weight: normal !important;
}
.sprocket-strips-content .readon {
    bottom: 40px;
    color: #FFFFFF;
    height: 32px;
    margin-top: 0;
    position: absolute;
}
.sprocket-mosaic .sprocket-mosaic-filter li.active, .sprocket-mosaic .sprocket-mosaic-order li.active, .sprocket-mosaic-loadmore, .sprocket-mosaic-hovercontent { color: #fff;}
/* Layout - Sprocket Strips - Core
----------------------------------------------------------------------------------------------------*/
.sprocket-strips-item { min-height: 180px }
.sprocket-strips-title {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    margin: -15px -15px 10px !important;
    padding: 15px;
}


h4.sprocket-strips-title  {
    font-size: 16px;
    line-height: 24px;
}
.sprocket-strips-title a { color: #fff }
.sprocket-strips-arrows .arrow {
    background: none repeat scroll 0 0 transparent !important;
    box-shadow: none !important;
    color: #FFFFFF !important;
}

/* Weblinks */
td.item-title a {
    font-size: 120%;
    line-height: 160%;
}
/*  widgetkit lightbox image */
#innerbottom div.sprocket-tabs-panel a[data-lightbox] img { margin: 1px }

#system .format-standard div.overlay,
#system .format-audio div.overlay {display: none;}