
/* Social Icons
----------------------------------------------------------------------------------------------------*/

.social-icons {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	display:none;
}

.social-icons li {
display:none;
}

.social-icons li a {
display:none;
}

